/**
==============================================
; Title: Assignment 8.2 What-a-Book App
; Author: Professor Richard Krasso
; Modified by: Chad ONeal
; Date: 09/27/2022
; Description: css for what-a-book app
==============================================
*/

/*
* styling for the body
*/
body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}

/**
* styling for the app header
*/
.app-header {
    text-align: center;
    font-size: 30px;
    margin-left: 11%;
    padding-bottom: 1.5%;
    font-weight: normal;
}

/**
* all card stylings including card content and card hovering styling
*/
.card {
    background-color: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    transition: .3s;
    width: 50%;
    margin: auto auto;
}

.card-items {
    background-color: var(--card-background-color);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,.2);
    transition: .3s;
    width: 95%;
    height: 100%;
}

.card-title {
    text-align: center;
    font-size: 2em;
    color: var(--card-title-color);
    font-weight: 400;
    
}

.card-content {
    padding: 2px 16px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
}

/**
* light-theme styling for Landing page per assignment requirements.
*/
body.light-theme {
    --text-color: #000;
    --background-color: #fff;
    --anchor-color: #4F3674;
    --heading-background-color: #3c275a;
    --heading-color: #000;
    --heading-border-color: #d6a800;
    --anchor-hover-color: #4f3674;
    --anchor-hover-background-color: #d6a800;
    --card-background-color: #fff;
    --card-title-color: #4f3674;
    --btn-background-color: #4f3674;
    --btn-color: #fff;
    --btn-hover-background-color: #d6a800;
    --btn-hover-color: #4f3674;
    --input-border-color: #ccc;
    --table-header-background-color: #4f3674;
    --table-header-color: #fff;
    --table-boarder-color:#ddd;
    --table-hover-background-color: #D6A800;
    --table-row-body-background-color: #fff;
    
}


/**
* dark-theme styling for Landing page per assignment requirements.
*/
body.dark-theme {
    --text-color: #fafafa;
    --background-color: #303030;
    --anchor-color: #fff;
    --h1-background-color: #9c27b0;
    --h1-border-color: #9c27b0;
    --heading-background-color: #424242;
    --heading-color: #fff;
    --heading-border-color: #424242;
    --anchor-hover-color: #d176e1;
    --anchor-hover-background-color: #303030;
    --card-background-color: #424242;
    --card-title-color: #d176e1;
    --btn-background-color: #d176e1;
    --btn-color: #fff;
    --btn-hover-background-color: #7d4787;
    --btn-hover-color: #fff;
    --input-border-color: #303030;
    --table-header-background-color: #D176E1;
    --table-header-color: #fff;
    --table-boarder-color:#303030;
    --table-hover-background-color: #7D4787;
    --table-hover-color: #fff;
    --table-row-background-color: #fff;
    
}

/**
* body stylings with variables 
*/
body {
    color: var(--text-color);
    background-color: var(--background-color);
}

/**
* anchor and anchor:hover stylings 
*/

a {
    margin-left: 7%;
    font-size: 21px;
}

.return-home {
    margin-left: 25%;
    text-decoration: none;
}

.return-home:hover {
    background-color: var(--anchor-hover-background-color);
    color: var(--anchor-hover-color);
}

/** 
* styling for table headers 
*/

table {
    border-collapse: collapse;
    margin-bottom: 30px;
    background-color: var(--heading-background-color);
    width: 100%;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: var(--table-header-color);
    background-color: var(--table-header-background-color);
}

tr {
    background-color: var(--background-color);
    
}

td, th{
    border: 1px solid #ddd;
    padding: 15px;
    border-color: var(--table-border-color);
}

tr:hover {
    background-color: var(--table-hover-background-color);
    color: var(--table-hover-color);
    cursor: pointer;
}

/** 
* H1 styles that changes based on the set theme.
*/
h1 {
    color: var(--heading-color);
    background-color: var(--h1-background-color);
    padding: 10px;
    border: solid 1px var(--h1-border-color);
}


/**
* H1, H2, H3, H4 styles that changes based on the set theme.
*/
h2, h3, h4 {
    color: var(--heading-color);
    background-color: var(--heading-background-color);
    padding: 10px;
    border: solid 1px var(--heading-border-color);
}


/**
* styling for the isbn links
*/
.isbn-link {
    margin-left: 1%;
    text-decoration: none;
    color: var(--table-hover-color);
}







